.dodaj-rez-container{
    background-color: #eef2f3;
    padding-top: 40px;
}


.forme-dodaj-rez{
    margin: auto;
    margin-top: 20px;
    width: 1000px;
    border:  rgb(180, 177, 177) solid 1px;
    padding: 1px;
    transition: background 500ms;
    display:flex;
    flex-direction:column;
    
}

.forme-dodaj-rez:hover{
    background: #cbe5e9;
}
  .a-row{

    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin:auto;
    width: 80%;
  }

  .a-col-pola{
      display: flex;
      flex-direction:row;
      align-items: flex-start;

    width: 40%;
  }

  .simbol{
      padding-right: 5px;
  }

  .pom{
      padding-top: 17px;
      padding-left: 5px;
  }

  .pom1{
      padding-left: 10px;
  }

  .c-row{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin:auto;
    width: 60%;

  }
  .c-col-pola{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
  }

  .c{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1000px;
    height: 150px;
    
  }

 
  .speci{
      display: flex;
      align-items: baseline;
    text-align: center;

    
    
  }
  
  .c-col-pola-pom{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
  }
  
  .dno{
    width: 100%;
    padding: 20px;
  }

  .naslov{
    height: 100px;
  padding: 10px;
  background: #eef2f3;
  
}

.upload-dio{
    
    width: 45%;
    justify-content: space-around;
    margin: auto;
    
}

.cijena-dio{
  display: flex;
  margin: auto;
  align-items: baseline;
}