.profile-page-edit{
    background-color: #eef2f3;
}
.edit-profil-container{
    margin: auto;
    margin-top: 20px;
    width: 900px;
    border:  rgb(180, 177, 177) solid 1px;
    padding: 1px;
    
    display:flex;
    flex-direction:column;
}


.odjeljak{
    transition: background 500ms;
    border-bottom:  rgb(180, 177, 177) solid 1px;
}
.odjeljak:hover{
    background: #cbe5e9;
}

.naslov-edit-profil{
    border-bottom: rgb(190, 189, 189) solid 1px;
    background-color:  cadetblue;
    padding: 10px;
    color: white;
}

.a-row{

    display: flex;
    
    margin:auto;
    justify-content: space-between;
  }

  .a-col-pola{
      display: flex;
      flex-direction:row;
      align-items: baseline;
        width: 50%;
  }

  .a-col-cetvrtina{
      width: 25%;
}

.dno{
    width: 100%;
    padding-bottom: 20px;
  }